@import url(fonts/stylesheet.css);

/*
  Google HTML5 slides template

  Original Authors:
           Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/

  Reworked for imotec by Theo J.A. de Vries

*/

/* Framework */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  display: block !important;

  height: 100%;
  min-height: 600px;

  overflow-x: hidden;
  overflow-y: auto;

  background: black;
  -webkit-font-smoothing: antialiased;
}

.slides {
  width: 100%;
  height: 100%;
  left: 0;

  position: absolute;

  -webkit-transform: translate3d(0, 0, 0);
}

.slides > article {
  display: block;

  position: absolute;
  overflow: hidden;

  width: 1600px;
  height: 1000px;

  left: 50%;
  top: 50%;

  margin-left: -800px;
  margin-top: -500px;

  padding: 190px 80px 60px 80px;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;

  background:url('imotec_slide_bg.png');
  background-size: contain;

  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);

  transition: transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
}

.slides > article.appear {
  transition: none;
  display: none;
}

.slides > article.fade-in {
  transition: opacity 0.2s;
}

.slides > article.fade-in.current {
  z-index: 100;
}

.slides .handout {
    display: none;
}

.slides.table {
    font-size: 15px;
    padding: 10px;
}

.slides.table > .slide-area {
    display: none;
}

.slides.table > article:hover {
    -moz-box-shadow: 0px 0px 20px yellow;
    -webkit-box-shadow: 0px 0px 20px yellow;
    box-shadow: 0px 0px 20px yellow;
    border: 2px;
}

.slides.table > article {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;

  width: 450px;
  height: 350px;

  left: 0;
  top: 0;

  margin: 10px;

  padding: 20px 30px;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);

  /* transform: scale(0.5); */
  /* -webkit-transform: scale(0.5); */
  transition: width height .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -webkit-transition: width height .3s ease-out;
}

.slides.table > article,
.slides.table > article.next,
.slides.table > article.far-past,
.slides.table > article.past,
.slides.table > article.current,
.slides.table > article.far-next {
    display: block;
    transform: translate(0px);
    -o-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate(0px);
}

.slides.table > article .to-build {
    opacity: 100;
}

/* Clickable/tappable areas */

.slide-area {
  z-index: 1000;

  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 1000px;

  left: 50%;
  top: 50%;

  cursor: pointer;
  margin-top: -500px;

  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
#prev-slide-area {
  margin-left: -900px;
}
#next-slide-area {
  margin-left: 700px;
}

/* Slides */

.slides > article {
  display: none;
}
.slides > article.far-past {
  display: block;
  transform: translate(-3440px);
  -o-transform: translate(-3440px);
  -moz-transform: translate(-3440px);
  -webkit-transform: translate3d(-3440px, 0, 0);
}
.slides > article.past {
  display: block;
  transform: translate(-1720px); /* 1020px */
  -o-transform: translate(-1720px);
  -moz-transform: translate(-1720px);
  -webkit-transform: translate3d(-1720px, 0, 0);
}
.slides > article.current {
  display: block;
  opacity: 1;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides > article.next {
  display: block;
  transform: translate(1720px);
  -o-transform: translate(1720px);
  -moz-transform: translate(1720px);
  -webkit-transform: translate3d(1720px, 0, 0);
}
.slides > article.far-next {
  display: block;
  transform: translate(3440px);
  -o-transform: translate(3440px);
  -moz-transform: translate(3440px);
  -webkit-transform: translate3d(3440px, 0, 0);
}

.slides > article.fade-in.next,
.slides > article.fade-in.far-past,
.slides > article.fade-in.past,
.slides > article.fade-in.far-next {
  opacity: 0;
  transform: translate(0px);
  -o-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
}

.slides > article.appear.next,
.slides > article.appear.far-past,
.slides > article.appear.past,
.slides > article.appear.far-next {
  display: none;
  transform: translate(0px);
  -o-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
}


/* Styles for slides */

.slides {
    font-size: 33px;
}

.slides > article {
  font-family: 'Open Sans Light', Arial, sans-serif;

  color: rgb(102, 102, 102);
  color: rgb(30, 115, 174);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);

  font-size: 1em;
  line-height: 1.2em;
}

strong, b {
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  letter-spacing: 2px;
}

.blue {
  color: rgb(0, 102, 204);
}
.yellow {
  color: rgb(255, 211, 25);
}
.green {
  color: rgb(0, 138, 53);
}
.red {
  color: rgb(255, 0, 0);
}
.black {
  color: black;
}
.white {
  color: white;
}

a {
  color: rgb(0, 102, 204);
}
a:visited {
  color: rgba(0, 102, 204, .75);
}
a:hover {
  color: black;
}

p {
  margin: 0;
  padding: 0;

  margin-top: 20px;
}
p:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
  line-height: 1em;

  padding: 0;
  margin: 0;
  margin-top: 200px;
  padding-right: 40px;

  font-weight: 600;

  letter-spacing: -3px;
}

h2 {
  text-align:center;
  vertical-align: bottom;
  font-size: 2.3em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  line-height: 1em;

  background:url('ruler.png');
  background-position: center bottom;
  background-repeat: no-repeat;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-right: 40px;

  letter-spacing: -2px;
  font-weight: 100;

}

h3 {
  font-size: 1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  line-height: 1.2em;

  padding: 0;
  margin: 0;
  padding-right: 40px;

  font-weight: 600;

  letter-spacing: -1px;
}

article.fill h3 {
  background: rgba(255, 255, 255, .75);
  padding-top: .2em;
  padding-bottom: .3em;
  margin-top: -.2em;
  margin-left: -60px;
  padding-left: 60px;
  margin-right: -60px;
  padding-right: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-top: 40px;
  margin-bottom: 40px;

  margin-left: .75em;
}
ul ul {
  margin-top: .5em;
}

ul li {
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
  background: url('bullet.png') no-repeat left 0.4em;
  list-style-type: none;
  padding-left: 0.65em;
}

ul li li {
  background: url('bullet.png') no-repeat left 0.6em;
  background-size: 0.4em;
  font-size: 0.8em;
  list-style-type: none;
  padding-left: 0.65em;
}

ul li::before {
/*  content: '·'; */

  width: .75em;
  margin-left: -.75em;

  position: absolute;
}

pre {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;

  font-size: 0.66em;
  line-height: 1.4em;
  padding: 5px 10px;

  letter-spacing: -1px;

  margin-top: 40px;
  margin-bottom: 40px;

  color: black;
  background: rgb(240, 240, 240);
  border: 1px solid rgb(224, 224, 224);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, .1);

  overflow: hidden;
}

code {
  font-size: 95%;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;

  color: black;
}

iframe {
  width: 100%;

  height: 620px;

  background: white;
  border: 1px solid rgb(192, 192, 192);
  margin: -1px;
  /*box-shadow: inset 0 2px 6px rgba(0, 0, 0, .1);*/
}

h3 + iframe {
  margin-top: 40px;
  height: 540px;
}

article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  border: 0;
  margin: 0;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  z-index: -1;
}

article.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  z-index: -1;
}
img.centered {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}
th {
  font-weight: 600;
  text-align: left;
}
td,
th {
  border: 1px solid rgb(224, 224, 224);
  padding: 5px 10px;
  vertical-align: top;
}

.source {
  position: absolute;
  left: 60px;
  top: 644px;
  padding-right: 175px;

  font-size: 0.5em;
  letter-spacing: 0;
  line-height: 18px;
}

q {
  display: block;
  font-size: 2em;
  line-height: 72px;

  margin-left: 20px;

  margin-top: 100px;
  margin-right: 150px;
}
q::before {
  content: '“';

  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;

  font-size: 3em;
  color: rgb(192, 192, 192);
}
q::after {
  content: '”';

  position: absolute;
  margin-left: .1em;

  font-size: 3em;
  color: rgb(192, 192, 192);
}
div.author {
  text-align: right;
  font-size: 1.33em;

  margin-top: 20px;
  margin-right: 150px;
}
div.author::before {
  content: '—';
}

/* Size variants */

article.smaller p,
article.smaller ul {
  font-size: 0.66em;
  line-height: 1.2em;
  letter-spacing: 0;
}
article.smaller table {
  font-size: 0.66em;
  line-height: 1.2em;
  letter-spacing: 0;
}
article.smaller pre {
  font-size: 0.5em;
  line-height: 1.33em;
  letter-spacing: 0;
}
article.smaller q {
  font-size: 1.33em;
  line-height: 1.2em;
}
article.smaller q::before,
article.smaller q::after {
  font-size: 2em;
}

/* Builds */

.build > * {
  transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
}

.to-build {
  opacity: 0;
}

/* Pretty print */

.prettyprint .str, /* string content */
.prettyprint .atv { /* a markup attribute value */
  color: rgb(0, 138, 53);
}
.prettyprint .kwd, /* a keyword */
.prettyprint .tag { /* a markup tag name */
  color: rgb(0, 102, 204);
}
.prettyprint .com { /* a comment */
  color: rgb(127, 127, 127);
  font-style: italic;
}
.prettyprint .lit { /* a literal value */
  color: rgb(127, 0, 0);
}

.prettyprint .pun, /* punctuation, lisp open bracket, lisp close bracket */
.prettyprint .opn,
.prettyprint .clo {
  color: rgb(127, 127, 127);
}
.prettyprint .typ, /* a type name */
.prettyprint .atn, /* a markup attribute name */
.prettyprint .dec,
.prettyprint .var { /* a declaration; a variable name */
  color: rgb(127, 0, 127);
}

@media print {
    body {
        background: none;
    }

    @page {
        size: A4 landscape;
        @top-right {
            content: "Page " counter(page);
        }
    }

    .slides > article,
    .slides > article.far-past,
    .slides > article.past,
    .slides > article.next,
    .slides > article.far-next {

        position: static;
        overflow: hidden;
        display: block !important;
        margin: auto;
        page-break-after: always;
 page-break-inside: avoid;

        transform: none;
        -o-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }

}
